<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dianzan.mapper.SysMapper" >
  <resultMap id="BaseResultMap" type="com.example.dianzan.dao.Sys" >
    <id column="sys_id" property="sysId" jdbcType="BIGINT" />
    <result column="sys_code" property="sysCode" jdbcType="VARCHAR" />
    <result column="sys_name" property="sysName" jdbcType="VARCHAR" />
    <result column="creater_id" property="createrId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="updater_id" property="updaterId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sys_id, sys_code, sys_name, creater_id, create_time, updater_id, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.dianzan.dao.SysExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_sys
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_sys
    where sys_id = #{sysId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_sys
    where sys_id = #{sysId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.dianzan.dao.Sys" >
    insert into tb_sys (sys_id, sys_code, sys_name,
      creater_id, create_time, updater_id,
      update_time)
    values (#{sysId,jdbcType=BIGINT}, #{sysCode,jdbcType=VARCHAR}, #{sysName,jdbcType=VARCHAR},
      #{createrId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updaterId,jdbcType=INTEGER},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.dianzan.dao.Sys" >
    insert into tb_sys
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="sysCode != null" >
        sys_code,
      </if>
      <if test="sysName != null" >
        sys_name,
      </if>
      <if test="createrId != null" >
        creater_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updaterId != null" >
        updater_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysId != null" >
        #{sysId,jdbcType=BIGINT},
      </if>
      <if test="sysCode != null" >
        #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null" >
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_sys
    <set >
      <if test="record.sysId != null" >
        sys_id = #{record.sysId,jdbcType=BIGINT},
      </if>
      <if test="record.sysCode != null" >
        sys_code = #{record.sysCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sysName != null" >
        sys_name = #{record.sysName,jdbcType=VARCHAR},
      </if>
      <if test="record.createrId != null" >
        creater_id = #{record.createrId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updaterId != null" >
        updater_id = #{record.updaterId,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_sys
    set sys_id = #{record.sysId,jdbcType=BIGINT},
      sys_code = #{record.sysCode,jdbcType=VARCHAR},
      sys_name = #{record.sysName,jdbcType=VARCHAR},
      creater_id = #{record.createrId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      updater_id = #{record.updaterId,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dianzan.dao.Sys" >
    update tb_sys
    <set >
      <if test="sysCode != null" >
        sys_code = #{sysCode,jdbcType=VARCHAR},
      </if>
      <if test="sysName != null" >
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="createrId != null" >
        creater_id = #{createrId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updaterId != null" >
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sys_id = #{sysId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dianzan.dao.Sys" >
    update tb_sys
    set sys_code = #{sysCode,jdbcType=VARCHAR},
      sys_name = #{sysName,jdbcType=VARCHAR},
      creater_id = #{createrId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      updater_id = #{updaterId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where sys_id = #{sysId,jdbcType=BIGINT}
  </update>
</mapper>
