<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.dianzan.mapper.SysOrgMapper" >
  <resultMap id="BaseResultMap" type="com.example.dianzan.dao.SysOrg" >
    <id column="sys_org_id" property="sysOrgId" jdbcType="BIGINT" />
    <result column="sys_id" property="sysId" jdbcType="BIGINT" />
    <result column="org_id" property="orgId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sys_org_id, sys_id, org_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.dianzan.dao.SysOrgExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tb_sys_org
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from tb_sys_org
    where sys_org_id = #{sysOrgId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tb_sys_org
    where sys_org_id = #{sysOrgId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.dianzan.dao.SysOrg" >
    insert into tb_sys_org (sys_org_id, sys_id, org_id
      )
    values (#{sysOrgId,jdbcType=BIGINT}, #{sysId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.dianzan.dao.SysOrg" >
    insert into tb_sys_org
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysOrgId != null" >
        sys_org_id,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="orgId != null" >
        org_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysOrgId != null" >
        #{sysOrgId,jdbcType=BIGINT},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        #{orgId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_sys_org
    <set >
      <if test="record.sysOrgId != null" >
        sys_org_id = #{record.sysOrgId,jdbcType=BIGINT},
      </if>
      <if test="record.sysId != null" >
        sys_id = #{record.sysId,jdbcType=BIGINT},
      </if>
      <if test="record.orgId != null" >
        org_id = #{record.orgId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_sys_org
    set sys_org_id = #{record.sysOrgId,jdbcType=BIGINT},
      sys_id = #{record.sysId,jdbcType=BIGINT},
      org_id = #{record.orgId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.dianzan.dao.SysOrg" >
    update tb_sys_org
    <set >
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=BIGINT},
      </if>
      <if test="orgId != null" >
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
    </set>
    where sys_org_id = #{sysOrgId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.dianzan.dao.SysOrg" >
    update tb_sys_org
    set sys_id = #{sysId,jdbcType=BIGINT},
      org_id = #{orgId,jdbcType=BIGINT}
    where sys_org_id = #{sysOrgId,jdbcType=BIGINT}
  </update>
</mapper>
